* {
  margin: 0px;
  padding: 0px;
}

.remove-button {
  background: none;
  border: none;
}

.remove-button span {
  display: inline-block;
  transform: rotateZ(45deg);
  font-size: 26px;
}

.remove-button :hover {
  color: red;
}

.postive {
  display: flex;
  justify-content: space-between;
  background-color: #90ee90;
}

.negative {
  display: flex;
  justify-content: space-between;
  background-color: #ff7f7f;
}
