* {
  padding: 0px;
  margin: 0px;
}

.container {
  /* border: 2px blue solid; */
  height: 100vh;
  max-height: 550px;
  width: max-content;
  margin: 0 auto;
  padding: 10px;
}

.balance {
  text-align: left;
  padding: 7px;
}

.income-expense {
  /* border: solid blue 2px; */
  display: flex;
  border: grey 1px solid;
  margin: 7px;
}

.income {
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-right: grey 1px solid;
  border: grey 1px solid;
}

.number-income {
  color: green;
}

.expense {
  padding: 10px;
  margin: 10px;
  width: 100%;
  border: grey 1px solid;
}

.number-expense {
  color: red;
}

.history {
  border: 1px grey solid;
  padding: 15px;
  height: 50%;
  width: 100%;
  max-width: 500px;
  overflow: auto;
  font-size: 20px;
}

.new-transactions {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.history-border {
  border-bottom: 1px grey solid;
}
